<% provide(:title, 'Kit Kats') %>
<div class="container">
	<h1 class="title">Flavors</h1>
	<% @kitkats.each do |k| %>
	<div class="kitkats col-md-4 col-xs-6">
		<div class="text-center well">
			<%= image_tag k.image_url, class: 'kitkat-img-thumb' %>
			<h2><%= k.name %></h2>
			<hr>
			<p>Approximate cost:<%= k.cost %> 円</p>
			<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-<%= k.name[1..4] %>">More Info</button>
		</div>
	</div>
	
	<!-- Modal -->
	<div id="modal-<%= k.name[1..4] %>" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"><%= k.name %></h4>
	      </div>
	      <div class="modal-body">
	        <%= image_tag k.image_url, class: "kitkat-img col-md-4 col-xs-4" %>
	        <p><%= k.description %></p>
	      </div>
	      <div class="modal-footer">
			<p class="pull-left">Approximate cost:<%= k.cost %> 円</p>
			<p>Approximate location: <%= k.location %></p>
	        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	<% end %>
</div>