<% provide(:title, 'Kit Kats') %>
<div class="container">
	<h1 class="title">Flavors</h1>
	<% @kitkats.each do |k| %>
	<div class="kitkats container-fluid well">
		<div class="col-md-4">
			<h2><%= k.name %></h2>
			<hr>
			<p><%= k.description %></p>
			<p>Approximate cost:<%= k.cost %> 円</p>
			<p>Approximate location: <%= k.location %></p>
		</div>
		<div class="col-md-6 col-md-offset-2 kitkat-img">
			<img src="<%= k.image_url %>">
		</div>
	</div>
	<% end %>
</div>